	body {
	  margin: 0;
	  font-family: Arial, Helvetica, sans-serif;
	  background-color: #f9f7ff;
	  color: #333;
}

	header {
	  background-color: #005f99;
	  color: white;
	  text-align: center;
	  padding: 20px;
}

    section {
        background-color: #e0f7fa;
        color: #004d40;
        font-size: 1.25em;
        padding: 20px;
    }