body {
    background-color: rgb(227, 227, 227);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow-x: hidden;
}

header {
    text-align: center;
    color: white;
    background-color: blue;
    margin: -9px;
    padding: 1px;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
}

h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 23px;
}

p, li {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}

.content {
    flex: 1;
}

.content .biography{
    margin: 30px;
    gap: 20px;
    align-items: flex-start;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

.content .achievements {
    margin: 30px;
    gap: 20px;
    align-items: flex-start;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

footer {
    text-align: center;
    color: white;
    background-color: blue;
    margin: -9px;
    padding: 1px;
}
